@media screen and (min-width: 768px) {
  
  
  
  .grid_2 article {
    flex: 0 0 48%; }

  .grid_3 article {
    flex: 0 0 32%; }

  .fit_content {
    margin-left: -22px;
    margin-right: -22px; }

  
  
  
  .title_text {
    font-size: 24px; }

  .site_title {
    padding: 10px 0; }

  .full_thum_b:before {
    padding-top: 35%; }

  .oh_widget {
    width: auto;
    margin: 0; }

  
  
  
  .f_widget {
    padding: 10px 15px;
    margin: 0 0px 30px; }
    .f_widget .ad_rectangle {
      min-width: auto; }

  .fw_con > div {
    width: 32%; }

  .copyright_info, .copyright_wordpress {
    margin: 0; }
    .copyright_info div, .copyright_wordpress div {
      margin: 0;
      padding: 0; }
    .copyright_info > div:last-child, .copyright_wordpress > div:last-child {
      margin-left: 5px; }
      .copyright_info > div:last-child:before, .copyright_wordpress > div:last-child:before {
        content: " | "; }

  
  
  
  .hp_contents {
    padding: 22px 22px; }

  .list_card .post_card_thum {
    width: 40%; }
  .list_card .post_card_meta {
    width: 60%; }
  .list_card .post_card_thum_img:before {
    padding-top: 50%; }

  .post_card_thum_img {
    height: 100%;
    max-height: none; }

  .on_pagi > div {
    width: auto; }

  .s_widget {
    max-width: 48%;
    min-width: 48%;
    height: min-content; }

  .ad_rectangle {
    min-width: 300px; }

  
  
  
  .post_content {
    padding: 22px 22px; }

  .rp_tt_title {
    max-height: 4.5em; }

  .bc_thum:before {
    padding-top: 90%; }

  .cta_box_thum {
    width: 60%;
    height: auto;
    position: relative; }

  .cta_box_like {
    background: #272727; }

  
  
  
  .f_col101 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row; }

  .on_pagi {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .nav_link {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }

  .credit, .index_contents {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  .jc_fs011 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }

  .jc_fe011 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }

  .f_123 {
    flex: 0 0 49%; } }


